@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-tabs-tab-btn {
  display: inline-flex;
  align-items: center;
}
.ant-btn {
  display: inline-flex;
  align-items: center;
}
.ant-card-actions li {
  display: flex;
  justify-content: center;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
